@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
img { display: block; max-width: 100%; }
